body{
    background-color: black
}

.calculator_container{
    margin: 8rem auto;
    width: 333px;
    overflow: hidden;
    padding-bottom:1rem;
    background-color: #2b2c30;
    background-image: url('../assets/fondo.webp');
    background-size: 50px;
    background-origin: border-box;
    border-radius: 24px;
    border-left: 2px solid #1a1a1a;
    border-right: 2px solid #1a1a1a;
    border-top: 8px solid #ebebeb;   
    border-bottom: 12px solid #ebebeb;
}

.calculator_screen {
    margin: 1.5rem 1rem 1rem 1rem;
    height: 85px;
    background-color: #d1dcce;
    font-family: 'Courier New';
    font-size: 1.5rem;
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid #1a1a1a; 
    box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.6); 
    display: flex;
    flex-direction: column;
    justify-content: space-start;
}

.calculator_operations{
    margin: 1px;
    padding: 1px;
    word-break: break-all;
    text-align: left;
    height:60px;
    line-height:25px;
    overflow: hidden;
}

.calculator_result{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: absoulute;
    font-weight: bold;
    height: 25px;
}

.calculator_buttons{
    margin: 1rem;
}

.calculator_row{
    clear: both;
}

.calculator_btn-num{
    float: left;
    width: 50px;
    height: 40px;
    margin: 5px;
    background-color: #f2f2f2;       
    color: #1a1a1a;                                 
    border-radius: 8px;           
    font-family: monospace;     
    font-size: 1.2rem; 
    font-weigth: bold;
    border: 1px solid #dcdcdc;      
    box-shadow: 0px 3px 0px #b5b5b5;
}

.calculator_btn-num:hover{
    background-color: #d9d9d9;
    cursor: pointer;
}

.btn-blue{
    background-color: #2e509c;
    color: white;
    border: 1px solid #1f376d;      
    box-shadow: 0px 3px 0px #1a3366;
}

.btn-blue:hover{
    background-color: #1e3d7d;
}

.calculator_btn-num:active {
    transform: translateY(2px);
    box-shadow: 0px 0px 0px #b5b5b5; 
}

.btn-blue:active {
    background-color: #152c5c;
    box-shadow: 0px 0px 0px #1a3366;
}