body {
    background-color: black;
    display: flex;
    flex-direction: row;       
    justify-content: center;  
    align-items: center;      
    min-height: 100vh;      
    margin: 0;
    gap: 2rem;
    flex-wrap: wrap;          
}

.calculator_container {
    width: 100%;
    max-width: 333px;
    margin: 1rem;
    overflow: hidden;
    padding-bottom: 1rem;
    background-color: #2b2c30;
    background-image: url('../assets/fondo.webp');
    background-size: 50px;
    background-origin: border-box;
    border-radius: 24px;
    border-left: 2px solid #1a1a1a;
    border-right: 2px solid #1a1a1a;
    border-top: 8px solid #ebebeb;   
    border-bottom: 12px solid #ebebeb;
}

.calculator_screen {
    margin: 1.5rem 1rem 1rem 1rem;
    height: 85px;
    background-color: #d1dcce;
    font-family: 'Courier New', Consolas;
    font-size: 1.5rem;
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid #1a1a1a; 
    box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.6); 
    display: flex;
    flex-direction: column;
    justify-content: space-start;
}

.calculator_operations{
    margin: 1px;
    padding: 1px;
    word-break: break-all;
    text-align: left;
    height:60px;
    line-height:25px;
    overflow: hidden;
}

.calculator_result{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: absoulute;
    font-weight: bold;
    height: 25px;
}

.calculator_buttons{
    margin: 1rem;
}

.calculator_row{
    clear: both;
}

.calculator_btn-num{
    float: left;
    width: 50px;
    height: 40px;
    margin: 5px;
    background-color: #f2f2f2;       
    color: #1a1a1a;                                 
    border-radius: 8px;           
    font-family: monospace;     
    font-size: 1.2rem; 
    font-weigth: bold;
    border: 1px solid #dcdcdc;      
    box-shadow: 0px 4px 0px #b5b5b5;
}

.calculator_btn-num:hover{
    background-color: #d9d9d9;
    cursor: pointer;
}

.btn-blue{
    background-color: #2e509c;
    color: white;
    border: 1px solid #1f376d;      
    box-shadow: 0px 4px 0px #1a3366;
}

.btn-blue:hover{
    background-color: #1e3d7d;
}

.calculator_btn-num:active {
    transform: translateY(2px);
    box-shadow: 0px 0px 0px #b5b5b5; 
}

.btn-blue:active {
    background-color: #152c5c;
    box-shadow: 0px 0px 0px #1a3366;
}

.calculator_history {
    height: 345px;
    width: 350px;
    background-image: url('../assets/fondo.webp');
    background-size: 50px;
    background-origin: border-box;
    border-radius: 24px;
    border-left: 2px solid #1a1a1a;
    border-right: 2px solid #1a1a1a;
    border-top: 8px solid #ebebeb;   
    border-bottom: 12px solid #ebebeb;
    display: flex;
    justify-content: center;
    align-items:center;
}

.history-container{
    background-color: white;
    height: 85%;
    width: 90%;
    margin:0;
    border-radius: 16px;
    font-family: 'Courier New', Consolas;
    font-size: 1.2rem;  
    padding: 1rem;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.history-title{
    padding: 0;
    margin: 0;
    text-align: center;
    border-bottom: 2px solid #ccc;
}

.history-list{
    overflow-y: auto;
    flex: 1; 
    margin: 0;
    margin-top: 0.6rem;
    padding: 0 1.2rem;
}

.history-list li{
    padding: 0.2rem 0;
}

.history_clean{
    margin-top: 5px;
    padding-top: 5px;
    width: 40px;
    background-color: #2e509c;
    border-radius: 8px;              
    border: none;    
    box-shadow: 0px 4px 0px #1a3366;
    cursor: pointer; 
    align-self: flex-end;
}

.history_clean:hover{
    background-color: #1e3d7d;
}

.history_clean:active {
    background-color: #152c5c;
    box-shadow: 0px 1px 0px #1a3366;
    transform: translateY(3px);
}

.icon-trash {
    width: 22px;
    height: 22px;
    fill: white;
    transition: fill 0.1s ease;
}

.history_clean:hover .icon-trash {
    fill: #ebebeb; 
}

#history::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

#history::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 10px;
}